form{
    position: absolute;
    left: 500px;
    width: 300px;
}
table , td{
    border-collapse: collapse;
    border: 1px solid black;
}
table{
    table-layout: fixed;
    width: 100%;
}
   table input{
    width: 100%;
    height: 100%;
}
   td{
       height: 50px;
   }
   .spec{
       background-color: dimgrey;
   }